.wrapper
{
  width: 400px;
  border: 2px dashed black;
  text-align: center;
}
.image
{
  width: 400px;
}
button
{
  padding: 12px;
  font-size: 20px;
}
button:hover 
{
  background-color: orange;
}
button:active
{
  background-color: black;
}
@media (max-width: 600px)
{
  .wrapper{background-color: #f3d4a1;}
}
@media (max-width: 400px)
{
  .details{display: none;}
}